<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Perfume Store</title>

    <link rel="shortcut icon" href="~/Assets/img/favicon.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Assets/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Assets/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/Assets/vendors/jquery-ui/jquery-ui.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://apis.google.com">
</head>
<body>
    @RenderPage("_NavBar.cshtml")

    @RenderBody()

    @RenderPage("_Footer.cshtml")

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/js/popper.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/stellar.js"></script>
    <script src="~/Assets/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Assets/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Assets/vendors/isotope/isotope-min.js"></script>
    <script src="~/Assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assets/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Assets/vendors/flipclock/timer.js"></script>
    <script src="~/Assets/vendors/counter-up/jquery.counterup.js"></script>
    <script src="~/Assets/js/mail-script.js"></script>
    <script src="~/Assets/js/theme.js"></script>

    <script>
        $(document).ready(function () {
            var currentURL = window.location.href.toLowerCase();
            var listHref = $('.nav-item nav-link');
            var finalIndex = -1
            for (var i = 0; i < listHref.length; i++) {
                var href = listHref[i].href.toLowerCase();
                if (currentURL.startsWith(href)) {
                    //parent.className = "active";
                    finalIndex = i;
                }
            }
            listHref[finalIndex].parentElement.className = "nav-item active";
        });
    </script>
</body>
</html>
